{{ define "main" }}

<div class="mt-10 space-y-20">
  <!-- prettier-ignore -->
  {{ range sort .Pages }}
    {{ $desc := .Params.description }}
    {{ $title := .Params.title }}
    {{ $github := .Params.github }}
    {{ $web := .Params.web }}
    {{ $img := .Params.preview_img }}
    {{ $link := .Permalink }}
    {{ $tags := .Params.tags }}
    {{ partial "project_preview.html" (dict "desc" $desc "title" $title "github" $github "web" $web "img" $img "link" $link "tags" $tags) }}
  {{ end }}
</div>

{{end }}
