<!DOCTYPE html>
<html lang="en">
  <!-- prettier-ignore -->
  {{ partial "head.html" . }}
</html>
<body
  class="min-h-screen antialiased text-gray-900 bg-gray-50 font-display bg-wave bg-no-repeat bg-bottom"
  x-data="{menuOpen: false}"
  x-bind:class="{'overflow-hidden': menuOpen}"
>
  <div class="relative">
    <div class="hidden lg:block absolute top-2 right-2">
      <img src="/img/square_pattern.svg" alt="pattern" class="h-56 transform rotate-90" />
    </div>
  </div>
  <div>{{ partial "mobile_nav.html" . }}</div>
  <div class="relative max-w-screen-lg mx-auto p-6 pb-12 flex flex-col lg:flex-row">
    {{ partial "sidebar.html" . }}
    <div class="lg:ml-12 w-full">
      <!-- prettier-ignore -->
      <div class="hidden lg:block">
        {{ partial "nav.html" . }}
      </div>
      <div class="mt-12">{{ block "main" . }} {{ end }}</div>
    </div>
  </div>
</body>
