<div>
  <div class="flex flex-col">
    <div class="flex-shrink-0 sm:max-w-sm">
      <a href="{{ .link }}">
        <img src="{{ .img }}" alt="{{ .title }}" class="rounded-lg" />
      </a>
    </div>
    <div class="mt-4 flex flex-col justify-between">
      <div>
        <a href="{{ .link }}" class="pl-1 pr-2 inline-block text-3xl font-black hyperlink"
          >{{ .title }}</a
        >
        <div class="text-gray-600 text-sm">
          <span>Posted on {{ .date.Format "2006-01-02" }} by</span>
          <a href="../contact" class="hyperlink">Bill Kerr</a>
        </div>
        <p class="mt-1 text-gray-600 leading-snug text-lg">{{ .preview }}</p>
      </div>
    </div>
  </div>
  {{ if isset . "tags" }}
  <div class="mt-3 sm:mt-6 flex flex-wrap text-sm">
    {{ range .tags }}
    <span class="mr-2 my-1 py-1 px-2 rounded-full bg-gray-200 text-gray-500">{{ . }}</span>
    {{ end }}
  </div>
  {{ end }}
</div>
