<!-- prettier-ignore -->
{{ $curPage := .Page.Params.Name }}
{{ $active := "ml-2 pl-2 pr-4 self-start text-xl font-black text-gray-900 transition-colors shadow-blue-200 hover:shadow-blue-200" }}
{{ $inactive := "ml-2 pl-2 pr-4 self-start text-xl font-black hover:text-gray-800 hover:shadow-blue-100 transition-colors" }}
{{ $about := $inactive }}
{{ $blog := $inactive }}
{{ $projects := $inactive }}
{{ $resume := $inactive }}
{{ $contact := $inactive }}
{{ if eq $curPage "about" }}
{{ $about = $active }}
{{ else if (eq $curPage "blog") }}
{{ $blog = $active }}
{{ else if (eq $curPage "projects") }}
{{ $projects = $active }}
{{ else if (eq $curPage "resume") }}
{{ $resume = $active }}
{{ else if (eq $curPage "contact") }}
{{ $contact = $active }}
{{ end }}

<div class="p-6 fixed inset-0 bg-gray-50 z-50" x-show="menuOpen" x-cloak>
  <div class="flex items-start justify-between">
    <div class="flex items-center">
      <a href="/" class="block flex-shrink-0 w-12 group">
        <img
          src="/img/profile_photo.jpg"
          alt="Bill Kerr"
          class="rounded-full ring-4 ring-gray-300 group-hover:ring-blue-200"
        />
      </a>
      <div class="ml-4 flex flex-col">
        <span class="font-black text-2xl">Bill Kerr</span>
        <span class="text-gray-600">Software Developer</span>
      </div>
    </div>
    <button
      class="p-1 focus:ring focus:outline-none group"
      @click="menuOpen = !menuOpen"
      x-show="menuOpen"
    >
      <!-- prettier-ignore -->
      {{ partial "icon_x.html" (dict "class" "h-7 w-7 text-gray-600 group-hover:text-gray-700 transition-colors")}}
    </button>
  </div>
  <ul class="mt-12 flex flex-col space-y-4 text-gray-700">
    <a href="/about" class="{{ $about }}">About Me</a>
    <a href="/blog" class="{{ $blog }}">Blog</a>
    <a href="/projects" class="{{ $projects }}">Projects</a>
    <a href="/resume" class="{{ $resume }}">Resume</a>
    <a href="/contact" class="{{ $contact }}">Contact</a>
  </ul>
  <div class="absolute bottom-2 right-2">
    <img src="/img/square_pattern.svg" alt="pattern" class="h-56 transform rotate-180" />
  </div>
</div>
