<div class="p-6 fixed inset-0 bg-gray-50 z-50" x-show="menuOpen">
  <div class="flex items-start justify-between">
    <div class="flex items-center">
      <a href="/" class="block flex-shrink-0 w-12 group">
        <img
          src="/img/profile_photo.jpg"
          alt="Bill Kerr"
          class="rounded-full ring-4 ring-gray-300 group-hover:ring-blue-200"
        />
      </a>
      <div class="ml-4 flex flex-col">
        <span class="font-black text-2xl">Bill Kerr</span>
        <span class="text-gray-600">Software Developer</span>
      </div>
    </div>
    <button
      class="p-1 focus:ring focus:outline-none group"
      @click="menuOpen = !menuOpen"
      x-show="menuOpen"
    >
      <!-- prettier-ignore -->
      {{ partial "icon_x.html" (dict "class" "h-7 w-7 text-gray-600 group-hover:text-gray-700 transition-colors")}}
    </button>
  </div>
  <ul class="mt-12 flex flex-col space-y-4 text-gray-700">
    <a href="/about" class="px-4 self-start text-xl font-black">About Me</a>
    <a href="/blog" class="px-4 self-start text-xl font-black">Blog</a>
    <a href="/projects" class="px-4 self-start text-xl font-black">Projects</a>
    <a href="/resume" class="px-4 self-start text-xl font-black">Resume</a>
    <a href="/contact" class="px-4 self-start text-xl font-black">Contact</a>
  </ul>
  <div class="absolute bottom-2 right-2">
    <img src="/img/square_pattern.svg" alt="pattern" class="h-56 transform rotate-180" />
  </div>
</div>
