<!-- prettier-ignore -->
{{ $curPage := .Page.Params.Name }}
{{ $active := "shadow-blue-200 hover:shadow-blue-200 text-gray-900" }}
{{ $inactive := "hover:shadow-blue-100" }}
{{ $about := $inactive }}
{{ $blog := $inactive }}
{{ $projects := $inactive }}
{{ $resume := $inactive }}
{{ $contact := $inactive }}
{{ if eq $curPage "about" }}
{{ $about = $active }}
{{ else if (eq $curPage "blog") }}
{{ $blog = $active }}
{{ else if (eq $curPage "projects") }}
{{ $projects = $active }}
{{ else if (eq $curPage "resume") }}
{{ $resume = $active }}
{{ else if (eq $curPage "contact") }}
{{ $contact = $active }}
{{ end }}

<ul class="flex items-center space-x-8 text-sm text-gray-600 uppercase">
  <li>
    <a href="/about" class="{{ $about }}">About Me</a>
  </li>
  <li>
    <a href="/blog" class="{{ $blog }}">Blog</a>
  </li>
  <li>
    <a href="/projects" class="{{ $projects }}">Projects</a>
  </li>
  <li>
    <a href="/resume" class="{{ $resume }}">Resume</a>
  </li>
  <li>
    <a href="/contact" class="{{ $contact }}">Contact</a>
  </li>
</ul>
